<div class="container">
  <h2>Patient Details</h2>
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <h3>First Name: </h3>
      <input matInput [readonly]="true" value="{{patient.first_name}}">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <h3>Last Name: </h3>
      <input matInput [readonly]="true" value="{{patient.last_name}}">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <h3>Gender: </h3>
      <input matInput [readonly]="true" value="{{patient.gender}}">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <h3>Diagnosis Code: </h3>
      <input matInput [readonly]="true" value="{{patient.diagnosis_code}}">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <h3>Diagnosis Description: </h3>
      <input matInput [readonly]="true" value="{{patient.diagnosis_description}}">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <h3>Diagnosis Description Detailed: </h3>
      <input matInput [readonly]="true" value="{{patient.diagnosis_description_detailed}}">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <h3>Administrated Drug Treatment: </h3>
      <input matInput [readonly]="true" value="{{patient.administered_drug_treatment}}">
    </mat-form-field>
  </form>
</div>
